<header>
    <ul>
        <li>
            <a href="home.html">Home</a>
        </li>
        <!--        <li><a href="about.html">About</a></li>-->
        <li>
            <a href="events.html">Events</a>
        </li>
        <li>
            <a href="faq.html">FAQ</a>
        </li>
        <li>
            <a href="code-of-conduct.html">Code of Conduct</a>
        </li>
    </ul>
    <ul>
        <!--        <li><a href="gallery.html">Photo Gallery</a></li>-->
        <!--        <li><a href="organizers.html">Meet the Organizers</a></li>-->
        <!--        <li><a href="contact.html">Contact</a></li>-->
    </ul>
</header>
